.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}
.nav-logo{
    width: 200px;
}
.nav-profile{
    width: 100px;
    position: relative;
}

.nav-profile img {
    cursor: pointer;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-list ul li {
    padding: 5px 0;
    cursor: pointer;
}

.dropdown-list ul li:hover {
    background-color: #f0f0f0;
}
@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width:150px
    }
    .nav-profile{
        width:60px
    }
}